---
name: CI
'on':
  workflow_dispatch:
  pull_request:
  push:
  schedule:
    - cron: "0 1 * * 1"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v5

      - name: Setup test environment
        run: docker pull ghcr.io/toozej/neovim-ci:latest

      - name: Run tests
        run: >
          docker run --rm -v /home/runner/work/neovimfiles/neovimfiles/:/workspace/ ghcr.io/toozej/neovim-ci /bin/sh -c
          "ls -lah /workspace/; 
          cp -r /workspace/ /root/.config/nvim/; 
          curl -fLo $HOME/.local/share/nvim/site/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim;
          nvim +'PlugInstall --sync' +qa;"

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
